<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) %X{C} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="defaultAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.aliyun.polardbx.rpl.common.TaskBasedDiscriminator">
            <Key>taskId</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="defaultAppender-${taskId}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${HOME}/logs/polardbx-rpl/${taskId}/default.log</file>
                <append>true</append>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${HOME}/logs/polardbx-rpl/${taskId}/%d{yyyy-MM-dd}/default.%i.log.gz
                    </fileNamePattern>
                    <maxFileSize>200MB</maxFileSize>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>5GB</totalSizeCap>
                    <delayMinute>5</delayMinute>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        <![CDATA[
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %class{0}: %-5level - %msg%n
                        ]]>
                    </pattern>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="metaAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME}/logs/polardbx-rpl/meta.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${HOME}/logs/polardbx-rpl/%d{yyyy-MM-dd}/meta.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                <![CDATA[
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %class{0}: %-5level - %msg%n
                ]]>
            </pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="commitAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.aliyun.polardbx.rpl.common.TaskBasedDiscriminator">
            <Key>taskId</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="commitAppender-${taskId}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${HOME}/logs/polardbx-rpl/${taskId}/commit.log</file>
                <append>true</append>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${HOME}/logs/polardbx-rpl/${taskId}/%d{yyyy-MM-dd}/commit.%i.log.gz
                    </fileNamePattern>
                    <maxFileSize>200MB</maxFileSize>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>5GB</totalSizeCap>
                    <delayMinute>5</delayMinute>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        <![CDATA[
                        %m%n
                        ]]>
                    </pattern>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="taskAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.aliyun.polardbx.rpl.common.TaskBasedDiscriminator">
            <Key>taskId</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="taskAppender-${taskId}"
                      class="ch.qos.logback.core.FileAppender">
                <file>${HOME}/logs/polardbx-rpl/${taskId}/task.log</file>
                <append>true</append>
                <encoder>
                    <pattern>
                        <![CDATA[
                        %m%n
                        ]]>
                    </pattern>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="positionAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.aliyun.polardbx.rpl.common.TaskBasedDiscriminator">
            <Key>taskId</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="positionAppender-${taskId}"
                      class="ch.qos.logback.core.FileAppender">
                <file>${HOME}/logs/polardbx-rpl/${taskId}/position.log</file>
                <append>true</append>
                <encoder>
                    <pattern>
                        <![CDATA[
                        %m%n
                        ]]>
                    </pattern>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="statisticAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.aliyun.polardbx.rpl.common.TaskBasedDiscriminator">
            <Key>taskId</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="statisticAppender-${taskId}"
                      class="ch.qos.logback.core.FileAppender">
                <file>${HOME}/logs/polardbx-rpl/${taskId}/statistic.log</file>
                <append>true</append>
                <encoder>
                    <pattern>
                        <![CDATA[
                        %m%n
                        ]]>
                    </pattern>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="defaultLogger" level="INFO">
        <appender-ref ref="defaultAppender"/>
    </logger>

    <logger name="metaLogger" level="INFO">
        <appender-ref ref="metaAppender"/>
    </logger>

    <logger name="consoleLogger" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="commitLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="commitAppender" additivity="false"/>
    </logger>

    <logger name="taskLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="taskAppender" additivity="false"/>
    </logger>

    <logger name="positionLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="positionAppender" additivity="false"/>
    </logger>

    <logger name="statisticLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="statisticAppender" additivity="false"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
